.content {
  border: #ebebeb;
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
  margin: 20px auto;
  padding: auto;
  margin-top: 30px;
  width: 95%;
  height: 100vh;
}

/********** CSS FOR PET PROFILE***********/
.pet-container {
  margin-top: 0px;
  bottom: 10px;
}

#profile-form-pet {
  width: 100%;
}

/*****************************************/

.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.profile-button {
  background-color: #fca311;
  box-shadow: none;
  border: none;
}

.pet-button {
  background-color: #fca311;
  color: #fff;
  display: flex;
  margin: auto;
  justify-content: center;
  padding: auto;
  align-items: center;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.profile-button:hover {
  background: #682773;
}

.pet-button:hover {
  background: #fca311;
  color: #ffffff;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}

#profile-pic {
  width: 100%;
  margin-top: 4px;
  object-fit: cover;
}

#profile {
  width: 150px; /* Set the desired width */
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-bottom: 30px;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

form {
  margin-top: 10px;
}

#choosePic {
  width: 40%;
}

.choose_file {
  position: relative;
  display: inline-block;
  border: #ebebeb solid 1px;
  width: 130px;
  padding: 4px 8px 6px 8px;
  color: #ffffff;
  background: #fca311;
  border-radius: 5px;
  margin: 7px;
  height: 6vh;
}

.choose_file input[type="file"] {
  /*DO NOT REMOVE*/
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.choose_file input[type="submit"] {
  /*DO NOT REMOVE*/
  position: absolute;
  top: 20px;
  position: relative;
  display: inline-block;
  border: #ebebeb solid 1px;
  width: auto;
  padding: 4px 8px 6px 8px;
  color: #ffffff;
  background: #000000;
  border-radius: 5px;
  margin: auto;
}

.delete_picture {
  margin-left: -50px;
}

.delete-button {
  display: inline-flex;
  float: right;
  margin-top: -18px;
  font-size: 18px;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  border: none;
  height: 6vh;
  padding: 4px 8px 6px 8px;
}

.flashes {
  display: flex;
  justify-content: center;

  .alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    height: 5vh;
    width: 100%;
    font-size: 15px;
    
  }

  .alert-success {
    height: 5vh;
    width: 100%;
    font-size: 15px;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

  .alert-danger {
    height: 5vh;
    width: 100%;
    font-size: 15px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
}

.flashes .alert {
  padding: 12px 12px 8px 6px;
  display: flex;
  justify-content: center;
  font-size: 15px;

  border-radius: 4px; /* Adjust border radius if needed */
  height: 9vh;
}

#pet-section {
  margin-top: -230px;
}

.reset-pass-button {
  width: 60%;
  padding: 8px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  line-height: 5vh;
  border-radius: 5px;

  a {
    text-decoration: none;
  }
}

#contact-title{

  title{
    font-size: 20px;
  }
}