{% extends "admin/adminNav.html" %}
{% block title %} {% endblock %}
{% block content %}

<section class="service-container">

    <form class="service-form" action="/addAdmin" method="POST">
        {% if request.method == 'POST' %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashes">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% endif %}


        <h2> Add Admin</h2>
        {{ form.csrf_token }}

        <!-- Firstname input -->
        <div class="reg-errors">
            {% for error in form.Firstname.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div data-mdb-input-init class="form-outline mb-4 mt-4">
            <input type="text" id="form2Example1" name="Firstname" class="form-control" />
            <label class="form-label" for="form2Example1"> Firstname </label>
        </div>

        <!-- Lastname input -->
      
        <div class="reg-errors">
            {% for error in form.Lastname.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div data-mdb-input-init class="form-outline mb-4 mt-4">
            <input type="text" id="form2Example1" name="Lastname" class="form-control" />
            <label class="form-label" for="form2Example1"> Lastname </label>
        </div>

        <!-- Email input -->
        {% for error in form.Email.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <div data-mdb-input-init class="form-outline mt-4 mb-4">
            <input type="text" id="form2Example1" name="Email" class="form-control" />
            <label class="form-label" for="form2Example1"> Email </label>
        </div>

        <!-- <button type="Submit"> SUBMIT </button> -->
        <div class="add-admin">
            <button data-mdb-ripple-init type="submit" name="AddAdmin" class="btn btn-block mb-3 mt-4 pet-btn">Add Admin</button>
        </div>
        <!-- Register buttons -->

    </form>
</section>


{% endblock %}