{% extends "admin/adminNav.html" %}
{% block title %} {% endblock %}
{% block content %}

<section class="service-container">

    <form class="service-form" action="/addServices" method="POST">
        {% if request.method == 'POST' %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashes">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% endif %}


        <h2> Add Services</h2>
        {{ AddService.csrf_token }}
        <!-- Name input -->
        <div class="reg-errors">
            {% for error in AddService.ServiceName.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div data-mdb-input-init class="form-outline mb-4 mt-4">
            <input type="text" id="form2Example1" name="ServiceName" class="form-control" />
            <label class="form-label" for="form2Example1">Service Name </label>
        </div>

        <!-- VetRole input -->
      
        <div class="mb-3" style="margin-left: 8px;">
            <label for="form-label" for="form2Example1" id="role-label">Roles:</label>
            <select id="roles-select" name="VetRole" class="select-button">
                {% for role in roles %}
                <option value="{{ role.VetRoleID }}">{{ role.VetRoleName }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Description input -->
        {% for error in AddService.Description.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <div data-mdb-input-init class="form-outline mt-4 mb-4">
            <input type="text" id="form2Example1" name="Description" class="form-control" />
            <label class="form-label" for="form2Example1">Service Description </label>
        </div>

        <!-- Cost input -->
        {% for error in AddService.Cost.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <div data-mdb-input-init class="form-outline mb-4 mt-4">
            <input type="integer" id="form2Example1" name="Cost" class="form-control" />
            <label class="form-label" for="form2Example1">Cost</label>
        </div>

        <!-- <button type="Submit"> SUBMIT </button> -->
        <div class="add-pet">
            <button data-mdb-ripple-init type="submit" name="AddService" class="btn btn-block mb-3 mt-4 pet-btn">Add Service</button>
        </div>
        <!-- Register buttons -->

    </form>
</section>


{% endblock %}