{% extends "base/nav.html" %}
{% block title %} Reset Password {% endblock %}
{% block content %}


<section class="res-em">

    <form action="{{ url_for('res_email') }}" method="POST" id ="res-em-form">

        <h4 style="color: #fca311;margin-bottom: 10px;font-weight: 600; text-align: center;">1. Account Verification </h4>


        {% if request.method == 'POST' %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashes">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% endif %}

        <div data-mdb-input-init class="form-outline mb-3 mt-4">
            <input type="email" name="Email" class="form-control" required/>
            <label class="form-label" for="loginName">Email</label>
        </div>

        <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 mt-4 rounded-pill shadow-sm res-btn"
            href=""> Send code </button>
        <br />

    </form>

    <div id="lottie-animation">
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
            type="module"></script>

        <dotlottie-player src="https://lottie.host/ad0e7ebc-f34d-40b3-bdcb-724cf6ee6be5/iiabMoLufG.json"
            background="transparent" speed="1" style="width: 350px; height: 350px; margin-top: -60px;" loop
            autoplay>
        </dotlottie-player>

    </div>

</section>

{% endblock %}


<!-- <button type="submit" class="btn btn-primary btn-block text-uppercase mb-4 mt-4 rounded-pill shadow-sm res-btn"
            href=""> Send Verification
        </button> -->