{% extends "base/nav.html" %}
{% block title %} {% endblock %}
{% block content %}

<div class="label-div">
    <h4> Past Appointments</h4>
    <a class="app-btn" href="{{ url_for('bookappointment')}}">Book Appointment</a>

</div>

<section class="appLists">

    {% if request.method == 'POST' %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flashes">
        {% for category, message in messages %}
        <div class="alert alert-primary">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% endif %}

    <table class="table align-middle bg-white mt-3" id="table">
        <thead class="bg-light">
            <tr>
                <th> </th>
                <th>Service </th>
                <th>PetName</th>
                <th>Information</th>
                <th>Date</th>
                <th>Time</th>
                <th>Duration</th>

            </tr>
        </thead>
        <tbody>
            {% if app %}
            {% for app in app %}

            <tr>
                <td> {{ app.id }}</td>
                <td>
                    <p class="fw-normal mb-1">{{ app.ServiceName }}</p>
                </td>
                <td>{{ app.PetName }}</td>
                <td> {{ app.OtherInfo }}</td>
                <td> {{ app.Startdate }}</td> 
                <td> {{ app.Time }}</td>
                <td> {{ app.Duration }}</td>

                <td>
                    <form action="/viewVitals" method="POST" style="margin-top: 1px;">
                        <input type="hidden" id="appIdInput" name="appid">
                        <button type="submit" style="border: none; background-color: white; "onclick="getAppointment('{{ app.id }}')">
                            <i class="far fa-eye" style="font-size: 19px;"></i>
                        </button>
                    </form>

                </td>

            </tr>
            {% endfor %}
            {% endif %}
            <p></p>


        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Appointment</h5>
                    <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/deleteAppointment" method="POST">
                        Are you sure you want to delete the appointment?
                        <input type="hidden" id="appIdInput" name="appid">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-ripple-init
                                data-mdb-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-mdb-ripple-init>Yes, delete</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

<script>
    function deleteAppointment(appid) {
        // Set the appid value in the hidden input field
        document.getElementById('appIdInput').value = appid;
    }

    function getAppointment(appid) {
        // Set the appid value in the hidden input field
        document.getElementById('appIdInput').value = appid;
    }


</script>

{% endblock %}