{% extends "base/nav.html" %}
{% block title %} Forgot Password {% endblock %}
{% block content %} 

  <section class="forg">
    <form action="/reg-reset" method="POST" style="width: 26rem;" id="for-form">

      {% if request.method == 'POST' %}
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="flashes">
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
      {% endif %}

        <h4 style="color: #fca311;font-weight:600;margin-top: -10px;" > Reset Password </h4>

        <!-- <div data-mdb-input-init class="form-outline mb-4 mt-4">
          <input type="email" id="form5Example1" class="form-control" name="Email" required/>
         
          <label class="form-label" for="form5Example1">Email </label>
        </div> -->

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4 mt-4">
          <input type="password" id="form5Example1" class="form-control" name="New_Password" required/>
          <label class="form-label" for="form5Example1">New Password </label>
        </div>
      
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" id="form5Example2" class="form-control" name="Confirm_Password" required/>
          <label class="form-label" for="form5Example2">Confirm Password</label>
        </div>
    
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 mt-4 rounded-pill shadow-sm res-btn"> Reset  </button>
    </form>

  </section>


  
  {% endblock %}