{% extends "admin/adminNav.html" %}
{% block title %}Admin Profile {% endblock %}
{% block content %}

<section class="content">
    <div class="container rounded bg-white mt-0 mb-5" style="margin-left: 100px; margin-top: -20px;">
        <div class="row">

            <div class="col-md-3 text-center border-right" id="parent-profile">
                <div id="profile">
                    <div class="d-flex justify-content-between align-items-center py-4">
                        {% if current_user.is_authenticated and current_user.Profile_pic %}
                        <img class="rounded-circle" src="http://127.0.0.1:5000/{{ current_user.Profile_pic }}"
                            id="profile-pic">
                        <!-- <img class="rounded-circle"
                            src="{{ url_for('display_profile', filename=current_user.Profile_pic) }}" id="profile-pic"> -->
                        {% else %}
                        <img class="rounded-circle" src="{{ url_for('static', filename='images/profile-user.png') }}"
                            id="profile-pic">
                        {% endif %}
                    </div>

                </div>
                <div class="mt-5 mb-5">
                    <span class="font-weight-bold ">{{ current_user.Firstname }} {{ current_user.Lastname }}</span><br />
                    <span class="text-black-50">{{ current_user.Email }}</span><span> </span>
                </div>
                <form method="POST" enctype="multipart/form-data" action='/userProfile'>
                    <div class="choose_file">
                        <span>Choose Picture</span>
                        <input type="file" name="file" />
                        <input type="submit" value="Upload" />
                    </div>
                </form>
                <form method="POST" action="/delete-profile-picture">
                    <div class="delete_picture">
                        <button type="submit" class="delete-button"
                            onclick="return confirm('Are you sure you want to delete your profile picture?');">
                            <i class="fas fa-trash-alt"></i>
                    </div>
                </form>

                <div class="mt-5 text-center">
                    <a href="/resetPassword" class="reset-pass-button">Reset Password</a>

                </div>

                <!-- <div class="mt-4 text-center mb-0">
                </div> -->
            </div>
            <div class="col-md-6 border-right" style="margin-left: 10px;">
                <div class="p-3 py-5 mt-0">
                    <div class="d-flex justify-content-between align-items-center mb-3 mt-0 ">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-1">

                        <form action="/updateAdmin" method="POST">

                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            <div class="flashes">
                                {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">{{ message }}</div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endwith %}

                            <div class="col-md-12 mt-0">
                                <label class="labels">Firstname</label>
                                <input type="text" name="Firstname" class="form-control" placeholder=""
                                    value="{{ current_user.Firstname }}">
                            </div>

                            <div class="col-md-12 mt-1">
                                <label class="labels">Lastname </label>
                                <input type="text" name="Lastname" class="form-control" placeholder="Enter email"
                                    value="{{ current_user.Lastname }}">
                            </div>

                            <div class="col-md-12 mt-1">
                                <label class="labels">Email </label>
                                <input type="integer" name="Email" class="form-control" id="contact-title"
                                    placeholder="" value="{{ current_user.Email }}">
                                <!-- <i class="fas fa-ellipsis-vertical"></i> -->
                            </div>

                            
                            <div class="col-md-12 mt-1">
                                <label class="labels">Recovery Email </label>
                                <input type="integer" name="RecoveryEmail" class="form-control" id="contact-title"
                                    placeholder="" value="{{ current_user.RecoveryEmail }}">
                                <!-- <i class="fas fa-ellipsis-vertical"></i> -->
                            </div>

                            <div class="col-md-12 mt-1">
                                <label class="labels">Contact </label>
                                <input type="integer" name="Contact" class="form-control" id="contact-title"
                                    placeholder="" value="{{ current_user.Contact }}">
                                <!-- <i class="fas fa-ellipsis-vertical"></i> -->
                            </div>

                            <div class="mt-5 text-center">
                                <button class="btn btn-primary profile-button" type="submit">Save
                                    Profile</button>
                            </div>

                    </div>

                </div>


            </div>

        </div>
        </form>

    </div>

</section>

<!-- <script>
        function chooseFile() {
           document.getElementById("fileInput").click();
        }
     </script> -->


{% endblock %}