.service-container {
    width: 70% ;
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    padding: auto;
    margin: auto;
    margin-top: 10px;
}

.service-form {
    width: 70%;
    margin: 80px;
    margin-top: 8px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}
  
  .flashes {
    display: flex;
    justify-content: center;
  
    .alert-primary {
      color: #004085;
      background-color: #cce5ff;
      border-color: #b8daff;
      height: 5vh;
      width: 100%;
      font-size: 15px;
    }
  
    .alert-success {
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
      height: 5vh;
      width: 100%;
      font-size: 15px;
    }
  
    .alert-danger {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
      height: 5vh;
      width: 100%;
      font-size: 15px;
    }
  }
  
label,
.form-label {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: #344767;
  /* margin-left: 0.25rem; */
} 
  
  .flashes .alert {
    padding: 12px 12px 8px 6px;
    display: flex;
    justify-content: center;
    font-size: 15px;
  
    border-radius: 4px; /* Adjust border radius if needed */
    height: 9vh;
  }
  

  
  .flashes {
    display: flex;
    justify-content: center;
  
    .alert-primary {
      color: #004085;
      background-color: #cce5ff;
      border-color: #b8daff;
      height: 5vh;
      width: 100%;
      font-size: 15px;
    }
  
    .alert-success {
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
      height: 5vh;
      width: 100%;
      font-size: 15px;
    }
  
    .alert-danger {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
      height: 5vh;
      width: 100%;
      font-size: 15px;
    }
  }
  
  .flashes .alert {
    padding: 12px 12px 8px 6px;
    display: flex;
    justify-content: center;
    font-size: 15px;

    border-radius: 4px; /* Adjust border radius if needed */
    height: 9vh;
  }
  

  .add-pet {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pet-btn {
    width: 50%;
    background-color: #fca311;
    color: white;
    text-align: center;
    font-family: "Franklin Gothic Light", "Arial Narrow", Arial, sans-serif;
  }
  
  /* Base styles for the select button */
.select-button {
    line-height: 0.09em;
    width: 70%;
    margin-left: 10px;
    background-color: #ffffff; /* white background */
    border: none; /* Remove borders */
    color: rgb(5, 5, 5); /* White text */
    padding: 9px; 
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 8px; /* Rounded corners */
    option{
        background-color: #ffffff;
        /* font-family: "Franklin Gothic Light", "Arial Narrow", Arial, sans-serif; */
    }
  }
  
  /* Hover state */
  .select-button:hover {
    background-color: #ffffff; /* Darker green background */

  }
  
  /* Active state */
  .select-button:active {
    background-color: #ffffff; /* Even darker green background */
    transform: translateY(0); /* Reset lift */
    box-shadow: 0 2px 4px rgba(244, 244, 244, 0.1); /* Adjust shadow */
  }
  
  /* Focus state for accessibility */
  .select-button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6); /* Add a custom focus outline */
  }
  

/* Custom CSS to make form responsive */
@media (max-width: 767.98px) {
  .service-form {
      padding: 13px;
      width: 100%;
  }
  .service-container {
    width:100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .service-form {
      padding: 20px;
  }
  .service-form .form-group {
      margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .service-form {
      padding: 30px;
  }
  .service-form .form-group {
      margin-bottom: 25px;
  }
}
