{% extends "vets/vetNav.html" %}
{% block title %} {% endblock %}
{% block content %}


<div class="col-4" style="float: right;width:80%;">
  <form action="/approvedAppointments/1" method="POST" autocomplete="off">
    <div class="row">
      <div class="col-8">
        <input type="text" class="search" name="tag" id="tag" placeholder="Search" />

      </div>
      <button type="submit" class="btn btn-search" data-mdb-ripple-init>
        <i class="fas fa-search"></i>
      </button>
    </div>

  </form>
</div>

<div class="viewPetscontainer mt-3">

  <div class="label-div mt-4 mb-2" style="margin-left: 230px;">
    <h4> Upcoming Appointments</h4>
  </div>

  <section class="appLists">

    <table class="table align-middle bg-white" id="table">
      <thead class="bg-light">
        <tr>
      
          <th>Service Name </th>
          <th>Pet Name</th>
          <th>Date </th>
          <th>Time</th>
          <th>Duration</th>
          <th>Owner </th>
        </tr>
      </thead>
      <tbody>
        {% if upp_details%}
        <tr id="result">
          {% for app in upp_details %}
       
          <td>{{ app.servicename }}</td>
          <td>{{ app.petname }}</td>
          <td> {{ app.date}}</td>
          <td> {{ app.time }}</td>
          <td> {{ app.duration }}</td>
          <td> {{ app.owner }}</td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </section>

  <div class="label-div mt-4">
    <h4> Past Appointments</h4>
  </div>
  
  <section class="appLists">

    <table class="table align-middle bg-white" id="table">
      <thead class="bg-light">
        <tr>
         
          <th>Service Name </th>
          <th>Pet Name</th>
          <th>Date </th>
          <th>Time</th>
          <th>Duration</th>
          <th>Owner </th>
        </tr>
      </thead>
      <tbody>
        {% if app_details%}
        <tr id="result">
          {% for app in app_details %}
          
          <td>{{ app.servicename }}</td>
          <td>{{ app.petname }}</td>
          <td> {{ app.date}}</td>
          <td> {{ app.time }}</td>
          <td> {{ app.duration }}</td>
          <td> {{ app.owner }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  {% else %}
  <div>
    <p> </p>
  </div>
  {% endif %}

  {% if pagination.pages > 1 %}
  <ul class="pagination">
    {% if pagination.has_prev %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for('viewApproved', page=pagination.prev_num) }}"><i
          class="fas fa-angles-left"></i></a>
    </li>
    {% endif %}
    {% for page_num in pagination.iter_pages() %}
    {% if page_num %}
    <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
      <a class="page-link" href="{{ url_for('viewApproved', page=page_num) }}">{{ page_num }}</a>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">...</span></li>
    {% endif %}
    {% endfor %}
    {% if pagination.has_next %}
    <li class="page-item"><a class="page-link" href="{{ url_for('viewApproved', page=pagination.next_num) }}"><i
          class="fas fa-angles-right"></i></a></li>
    {% endif %}
  </ul>
  {% endif %}




</div>

{% endblock %}