{% extends "vets/vetNav.html" %}
{% block title %}Vet Profile {% endblock %}
{% block content %}

<section class="content">
    <div class="container rounded bg-white mt-0 mb-5" style="margin-left: 100px; margin-top: -20px;">
        <div class="row">

            <div class="col-md-3 text-center border-right" id="parent-profile">
                <div id="profile">
                    <div class="d-flex justify-content-between align-items-center py-4">
                        {% if current_user.is_authenticated and current_user.Profile_pic %}
                        <img class="rounded-circle" src="http://127.0.0.1:5000/{{ current_user.Profile_pic }}"
                            id="profile-pic">
                        <!-- <img class="rounded-circle"
                            src="{{ url_for('display_profile', filename=current_user.Profile_pic) }}" id="profile-pic"> -->
                        {% else %}
                        <img class="rounded-circle" src="{{ url_for('static', filename='images/profile-user.png') }}"
                            id="profile-pic">
                        {% endif %}
                    </div>

                </div>
                <div class="mt-3 mb-2">
                    <span class="font-weight-bold ">{{ petname }} </span><br />
                </div>
                <div class="mb-4 mt-3">
                    <span class="text-black-50">{{ appname }}</span><span> </span>
                </div>


            </div>
            <div class="col-md-6 border-right" style="margin-left: 10px;">
                <div class="p-3 py-5 mt-0">
                    <div class="d-flex justify-content-between align-items-center mb-3 mt-0 ">
                        <h3 class="text-right">Pet Vitals </h3>
                    </div>
                    <div class="row mt-0">

                        <form action="/petVitals" method="POST">
                            {{ form.csrf_token }}
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            <div class="flashes">
                                {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">{{ message }}</div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endwith %}
                            
                            {% for error in form.Weight.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            <div class="col-md-12 mt-0">
                                <label class="labels">Weight</label>
                                <input type="integer" name="Weight" class="form-control"
                                     value = "{{ vitals.Weight }}" required>
                            </div>


                            {% for error in form.Heartrate.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}

                            <div class="col-md-12 mt-2">
                                <label class="labels">Heart rate </label>
                                <input type="integer" name="Heartrate" class="form-control" value = "{{ vitals.Heartrate }}" required>
                            </div>

                            {% for error in form.Temperature.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}

                            <div class="col-md-12 mt-2">
                                <label class="labels">Temperature </label>
                                <input type="integer" name="Temperature" class="form-control" id="contact-title"
                                value = "{{ vitals.Temperature }}" required>
    
                            </div>

                            {% for error in form.Mobility.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}

                            <div class="col-md-12 mt-2">
                                <label class="labels">Mobility and Joints </label>
                                <input type="text" name="Mobility" class="form-control" id="contact-title"
                                value = "{{ vitals.Mobility }}" required>

                            </div>

                            {% for error in form.Behaviour.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}

                            <div class="col-md-12 mt-2">
                                <label class="labels"> Behaviour </label>
                                <input type="text" name="Behaviour" class="form-control" id="contact-title"  value = "{{ vitals.Behaviour }}" required>

                            </div>

                            <div class="mt-5 text-center">
                                <button class="btn btn-primary profile-button" type="submit">Save
                                    Vitals</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>



{% endblock %}