.home-nav {
    width: 100%;
    margin-top: -10px;
    display: flex;
    position: relative;
    z-index: 1;
    li {
      justify-content: center;
      align-items: center;
      margin-left: 10px;
    }
  }

 
  
  .home-petco {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #000;
    font-size: 30px;
    margin-left: 20px;
    position: absolute;
    z-index: 10;
    margin-top: 8px;
    width: 20%;
  
    img {
      width: 16%;
      text-align: center;
    }
  }
  
  .nav-item {
    margin-left: -90px;
    justify-content: space-between;
  
    .nav-link {
      font-size: 18px;
      letter-spacing: 0.01em;
      color: #fca311;
      font-family: "Franklin Gothic Light", "Arial Narrow", Arial, sans-serif;
    }
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    z-index: 0;
    width: 20%;
    object-fit:contain;
    margin-right: -420px;
    margin-left: 170px;
  
    a {
      margin: 10px;
      width: 90%;
    }
  }
  .lock-img {
    margin-right: -10px;
    width: 5%;
    display: flex;
    z-index: 0;
    position: relative;
    margin: auto;
    float: right;
    margin-right: 5px;
  }
  
  .profile-icon {
    color: inherit; /* Use the current text color */
    font-size: 24px; /* Adjust the size of the icon */
    text-decoration: none; /* Remove underline */
  }
  
  .profile-icon:hover {
    color: inherit; 
  }
  
  .profile-icon i {
    margin-left: -90px;
    margin-top: 10px;
    margin-right:0px;
    vertical-align: middle; 
  }
  
  .custom-dropdown-menu {
    font-size: 16px;
    width: 40px;
    margin-top: 30px; 
  }
  
  .custom-dropdown-menu {
    transition: margin-bottom 0.3s ease;
  }
  
  .dropdown{
    font-size: 15px;
    background-color: white;
  }


#logoutContent{
  width: 100%;

}