{% extends "base/nav.html" %}
{% block title %}OTP Verification {% endblock %}
{% block content %}


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="ver-container">
    {{current_user.role}}
    <h2>Verify OTP</h2>
    <form method="POST" action="{{ url_for('logchecker', otp=otp) }}">
        {{ csrf }}
        <div class="form-group">
           
            <label for="user-otp">Enter OTP</label>
            <input type="text" class="form-control" id="user-otp" name="user-otp" required>
        </div>
        <button type="submit" id="vbtn" class="btn">Verify</button>

    </form>

    <!-- Display flash messages -->

</div>


{% endblock %}