{% extends "vets/vetNav.html" %}
{% block title %} {% endblock %}
{% block content %}

<section class="viewServices">
    <div class="ser-container">
        <h2 id="header"> Services We Provide</h2>
        <div class="row no-gutters" id="ser-row">
        {% if services %}
            {% for service in services %}
            <div class="col-md-3">
                <div class="sercard user-card">
                    <div class="card-block">
                        <div class="d-flex align-items-center py-4 mt-0 mb-0" id="serv-dp">
                            <img class="" src="{{ url_for('static', filename='images/pet-profile.png') }}" id="ser-pic">
                        </div>
                        <h4 class="service-name">{{ service.ServiceName }} | {{ service.Cost }} ksh</h4>
                        <p class="text-muted">{{ service.Description }}</p>
                        <hr />
                       
                    </div>
                </div>
            </div>

            {% endfor %}
            {% else %}
        {% endif %}
        </div>
    </div>
</section>


{% endblock %}