{% extends "base/nav.html" %}
{% block title %}User Profile {% endblock %}
{% block content %}

<section class="content">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">


            <div class="col-md-3 text-center border-right" id="parent-profile">
                <div id="profile">
                    <div class="d-flex justify-content-between align-items-center py-4">
                        {% if current_user.is_authenticated and current_user.Profile_pic %}
                        <img class="rounded-circle" src="http://127.0.0.1:5000/{{ current_user.Profile_pic }}"
                            id="profile-pic">
                        <!-- <img class="rounded-circle"
                            src="{{ url_for('display_profile', filename=current_user.Profile_pic) }}" id="profile-pic"> -->
                        {% else %}
                        <img class="rounded-circle" src="{{ url_for('static', filename='images/profile-user.png') }}"
                            id="profile-pic">
                        {% endif %}
                    </div>

                </div>
                <div class="mt-5 mb-5">
                    <span class="font-weight-bold ">{{ current_user.Fullname }}</span><br />
                    <span class="text-black-50">{{ current_user.Email }}</span><span> </span>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    <div class="choose_file">
                        <span>Choose Picture</span>
                        <input type="file" name="file" />
                        <input type="submit" value="Upload" />
                    </div>
                </form>
                <form method="POST" action="/delete-profile-picture">
                    <div class="delete_picture">
                        <button type="submit" class="delete-button"
                            onclick="return confirm('Are you sure you want to delete your profile picture?');">
                            <i class="fas fa-trash-alt"></i>
                    </div>
                </form>

                <div class="mt-5 text-center">
                    <a href="/reset" class="reset-pass-button">Reset Password</a>

                </div>

                <!-- <div class="mt-4 text-center mb-0">
                </div> -->
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5 mt-0">
                    <div class="d-flex justify-content-between align-items-center mb-3 mt-0 ">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-3">

                        <form action="/updateProfile" method="POST">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            <div class="flashes">
                                {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">{{ message }}</div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endwith %}

                            <div class="col-md-12 mt-0">
                                <label class="labels">Fullname</label>
                                <input type="text" name="UpdateFullname" class="form-control" placeholder=""
                                    value="{{ current_user.Fullname }}">
                            </div>

                            <div class="col-md-12 mt-1">
                                <label class="labels">Email </label>
                                <input type="text" name="UpdateEmail" class="form-control" placeholder="Enter email"
                                    value="{{ current_user.Email }}">
                            </div>

                            <div class="col-md-12 mt-1">
                                <label class="labels">Contact </label>
                                <input type="integer" name="UpdateContact" class="form-control" id="contact-title"
                                    placeholder="Enter phone number" value="{{ current_user.Contact }}"
                                    title="Begin your phone number with 07 or 01">
                                <!-- <i class="fas fa-ellipsis-vertical"></i> -->
                            </div>

                            <div class="col-md-12 mt-1">
                                <label class="labels">Address </label>
                                <input type="integer" name="UpdateAddress" class="form-control"
                                    placeholder="Enter your address" value="{{ current_user.Address }}">
                            </div>

                            <div class="mt-5 text-center">
                                <button class="btn btn-primary profile-button" type="submit">Save
                                    Profile</button>
                            </div>

                    </div>

                </div>


            </div>

        </div>
        </form>



        <div class="col-md-4 float-right align-items-center justify-content-between" id="pet-section" style="margin-top: -270px;">
            <div class="p-3 py-5 mt-0" >
                <div class="d-flex justify-content-between align-items-center experience">
                    <h5>Pets</h5>
                    <!-- <span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span> -->
                </div><br>
            
                <ul>
                   
                    <li>{{ pets.PetName }}</li>
                   
                </ul>
              
              
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <button class="btn pet-button" type="button">
                    <a href="/addPet">Add Pet</a></button>
            </div>
        </div>

    </div>

</section>

<!-- <script>
        function chooseFile() {
           document.getElementById("fileInput").click();
        }
     </script> -->


{% endblock %}