.notification{
    margin: 50px auto;
    border-radius: 20px;
    width: 70%;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    height: 40vh;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}